:root {
    --body_color: #2b7a78;
    --nav_color: #17252a;
    --nav_text_color: white;
    --nav_focus_color: #646e75;
    --main_color: white;
    --post_border_color: #6d7b85;
    --post_background_color: white;
    --content_color: #17252a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--body_color);
}

.navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: var(--nav_color);
    z-index: 100;
    padding-left: 15%;
    padding-right: 15%;
    list-style-type: none;
}

.nav_component {
    float: left;
}

.nav_component a {
    display: block;
    padding: 15px;
    color: var(--nav_text_color);
    text-decoration: none;
}

.nav_component a:hover {
    background: var(--nav_focus_color);
}

.main_container {
    position: relative;
    top: 20px;
    left: 15%;
	width: 70%;
	padding: 10px;
	padding-top: 30px;
	background: var(--main_color);
	min-height: 95vh;
}

.post_container {
    position: relative;
    background: var(--post_background_color);
    border: 8px solid var(--post_border_color);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 20px;
}

.post_container > a {
    text-decoration: none;
    color: var(--content_color);
}

.post_container h2 {
    text-align: center;
}

.post_container img {
    width: 100%;
}

.post_content {
    width: 100%;
}

.form_post * {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 15%;
    width: 70%;
}

.form_post textarea {
    resize: none;
    height: 300px;
}

.form_post button {
    padding: 15px;
}

.name_input {
    font-size: 16pt;
}

.name_input, .form_post textarea {
    border: 5px solid var(--post_border_color);
    padding: 10px;
}

.name_input:focus, .form_post textarea:focus {
    outline: none;
    border: 5px solid var(--body_color);
}

@media only screen and (max-width: 600px) {
    .navigation {
        padding-left: 0%;
        padding-right: 0%;
    }

    .main_container {
        top: 20px !important;
        left: 0% !important;
        width: 100% !important;
    }
}